<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a ui-sref="home" class="navbar-brand">Loft tracker</a>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar" aria-expanded="false" ng-controller="AuthCtrl">
      <ul class="nav navbar-nav">
        <li ui-sref-active="active"><a ui-sref="users">About</a></li>
        <li ui-sref-active="active"><a ui-sref="user">FAQ</a></li>
      </ul>

      <div ng-controller="ModalCtrl" ng-show="!currentUser" class="btn-group pull-right" role="group" aria-label="...">
        <a class="btn btn-default" ng-click="open('modalAuth.html')">Sing in</a>
        <a ui-sref="registration" class="btn btn-default">Sign up</a>
      </div>

      <div ng-show="currentUser" class="auth-box pull-right">
        <span>
          Welcome, <a href=""><strong>{{currentUser}}</strong></a>! 
          [<a href="" ng-click="logout()">logout</a>]
        </span>
      </div>

      <nav ng-if="currentUser">
        <ul class="nav navbar-nav">
          <li><a ui-sref="workout">Workout</a></li>
          <li><a ui-sref="exercises">Exercises</a></li>
          <li><a ui-sref="statistics">Statistics</a></li>
          <li><a ui-sref="profile">Profile</a></li>
        </ul>
      </nav>

    </div>
  </div>

  <script type="text/ng-template" id="modalAuth.html">
    <div class="modal-header">
        <button type="button" ng-click="cancel()" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        <h3 class="modal-title">Login</h3>
    </div>
    <div class="modal-body" ng-controller="AuthCtrl">
      <div class="alert alert-danger" ng-if="formAuth.$submitted && formAuth.$invalid">Ахтунг!</div>
      <form name="formAuth" ng-submit="login(credentails)" novalidate>
        <div class="form-group" ng-class="{'has-error': formAuth.email.$invalid && formAuth.$submitted}">
          <label for="login">Email address</label>
          <input required name="email" ng-model="credentails.email" type="email" class="form-control" id="login" placeholder="Email">
        </div>
        <div class="form-group" ng-class="{'has-error': formAuth.password.$invalid && formAuth.$submitted}">
          <label for="password">Password</label>
          <input required name="password" ng-model="credentails.password" type="password" class="form-control" id="password" placeholder="Password">
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox"> Check me out
          </label>
        </div>
        <button type="submit" class="btn btn-default">Sign in</button>
        <!--pre>{{ formAuth | json }}</pre-->
      </form>
    </div>
  </script>

</nav>