	<h1>My training</h1>
	<hr>
<div class="row">
	<div class="col-md-4">
	<!-- <pre>{{me.user[0]|json}}</pre> -->
		<div class="panel panel-default" ng-controller="ProfileCtrl as me">
		  <div class="panel-heading">Profile</div>
		  <div class="panel-body">
			<ul class="list-group">
			  <li class="list-group-item"><mark>Name:</mark> {{me.info.first_name}} {{me.info.last_name}}</li>
			  <li class="list-group-item"><mark>Age:</mark> {{me.info.age}}</li>
			  <li class="list-group-item"><mark>Growth:</mark> {{me.info.growth}}</li>
			  <li class="list-group-item"><mark>Weight:</mark> {{me.info.weight}}</li>
			</ul>
		  </div>
		</div>
	  	<button ng-controller="ModalCtrl" type="button" class="btn btn-primary btn-lg btn-block" ng-click="open('modalAddTraining.html', 'lg')">Add training</button>
		  <script type="text/ng-template" id="modalAddTraining.html">
		    <div class="modal-header">
		        <button type="button" ng-click="cancel()" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
		        <h3 class="modal-title">Add training</h3>
		    </div>
		    <div class="modal-body" ng-controller="AuthCtrl">
		      <div class="alert alert-danger" ng-if="formAddTraining.$submitted && formAddTraining.$invalid">Ахтунг!</div>
		      <form name="formAddTraining" ng-submit="addTraining(credentails)" novalidate>
		        <div class="form-group" ng-class="{'has-error': formAddTraining.email.$invalid && formAddTraining.$submitted}">
		          <label>Name training</label>
		          <input required name="name" ng-model="credentails.name" type="text" class="form-control" id="name" placeholder="name training">
		        </div>
		        <div class="form-group" ng-class="{'has-error': formAddTraining.password.$invalid && formAddTraining.$submitted}">
		          <label>Description</label>
		          <input name="description" ng-model="credentails.description" type="text" class="form-control" id="description" placeholder="description">
		        </div>

		        <div add-exercises-for-training></div>

		        <div class="form-group row">
		        	<div class="col-md-12">
				        <button type="button" ng-click="addExercises(credentails)" class="btn btn-info pull-right">
				        	<span class="glyphicon glyphicon-plus"></span> 
				        	add exercises 
				        </button>
				    </div>
			    </div>
			    <hr>
		        <div class="form-group">
		        	<button type="submit" class="btn btn-primary btn-lg btn-block">Save</button>
		        </div>
		        <!--pre>{{ formAddTraining | json }}</pre-->
		      </form>
		    </div>
		  </script>
	</div>
	<div class="col-md-8" ng-controller="TrackerCtrl as trck">
		<div class="well" ng-repeat="(key, training) in trck.list">
			<h3><a ui-sref="training-detail({ id: training.$id })">{{training.name}}</a></h3>
			<p>Упражнения:</p>
			<div class="panel panel-default" ng-repeat="(key, exercise) in training.exercises">
			 	<div class="panel-heading">{{exercise.exercisesID}}</div>
			</div>
		</div>
	</div>
</div>